<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>コメント編集</title>
  <link rel="stulesheet" href="edit.scss">
</head>

<% provide(:title, "Edit comment") %>

<body>
<div class="header">
  <p>コメント編集</p>
</div>

<%= render 'form' %>
